.greet-user-search-main {
  width: 100%;
}
.greet-user-search-main .greet-user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.greet-user-search-main .search-form {
  width: 10rem;
  display: flex;
  background: #fff;
}
.greet-user-search-main .search-form label {
  cursor: pointer;
  margin: 0 0.2rem;
  font-size: 1.2rem;
}
.greet-user-search-main .search-form input {
  width: 100%;
  border: none;
  outline: none;
}

.greet-user-search-main .balance-sheet-overview {
  display: flex;
}
.greet-user-search-main .balance-sheet-overview .card {
  padding: 1rem;
}

@media screen and (max-width: 500px) {
  .greet-user-search-main .search-form {
    width: 100%;
  }
}
